/* Import Google Font - Plus Jakarta Sans (optional if you reference it in Tailwind config) */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

/* Tailwind CSS Base, Components, and Utilities */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: Apply font family globally using Tailwind’s font class */

*{
  font-family:'Plus Jakarta Sans', sans-serif ;
  
}

/* Optional: Transition effect example for button */

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}
